<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<property name="hibernate.dialect">net.wasys.getdoc.util.postgre.JsonPostgreSQLDialect</property>

		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
		<property name="hibernate.use_sql_comments">false</property>
		<!--<property name="hibernate.hbm2ddl.auto">update</property>-->

		<mapping class="net.wasys.getdoc.domain.entity.Area" />
		<mapping class="net.wasys.getdoc.domain.entity.Subarea" />
		<mapping class="net.wasys.getdoc.domain.entity.Usuario" />
		<mapping class="net.wasys.getdoc.domain.entity.Role" />
		<mapping class="net.wasys.getdoc.domain.entity.LogAlteracao" />
		<mapping class="net.wasys.getdoc.domain.entity.Parametro" />
		<mapping class="net.wasys.getdoc.domain.entity.Feriado" />
		<mapping class="net.wasys.getdoc.domain.entity.Irregularidade" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoCampo" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoCampoGrupo" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoProcesso" />
		<mapping class="net.wasys.getdoc.domain.entity.Processo" />
		<mapping class="net.wasys.getdoc.domain.entity.MotivoCancelamento" />
		<mapping class="net.wasys.getdoc.domain.entity.Campo" />
		<mapping class="net.wasys.getdoc.domain.entity.CampoGrupo" />
		<mapping class="net.wasys.getdoc.domain.entity.Documento" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoLog" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoLogAnexo" />
		<mapping class="net.wasys.getdoc.domain.entity.DocumentoLog" />
		<mapping class="net.wasys.getdoc.domain.entity.Pendencia" />
		<mapping class="net.wasys.getdoc.domain.entity.Advertencia" />
		<mapping class="net.wasys.getdoc.domain.entity.Imagem" />
		<mapping class="net.wasys.getdoc.domain.entity.Solicitacao" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoEvidencia" />
		<mapping class="net.wasys.getdoc.domain.entity.EnderecoCep" />
		<mapping class="net.wasys.getdoc.domain.entity.EmailEnviado" />
		<mapping class="net.wasys.getdoc.domain.entity.RelatorioGeral" />
		<mapping class="net.wasys.getdoc.domain.entity.EmailRecebido" />
		<mapping class="net.wasys.getdoc.domain.entity.EmailRecebidoAnexo" />
		<mapping class="net.wasys.getdoc.domain.entity.UsuarioTipoProcesso" />
		<mapping class="net.wasys.getdoc.domain.entity.Ajuda" />
		<mapping class="net.wasys.getdoc.domain.entity.RelatorioGeralSolicitacao" />
		<mapping class="net.wasys.getdoc.domain.entity.Situacao" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoProcessoPermissao" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoPendencia" />
		<mapping class="net.wasys.getdoc.domain.entity.BloqueioProcesso" />
		<mapping class="net.wasys.getdoc.domain.entity.LogAcesso" />
		<mapping class="net.wasys.getdoc.domain.entity.ModeloOcr" />
		<mapping class="net.wasys.getdoc.domain.entity.LogOcr" />
		<mapping class="net.wasys.getdoc.domain.entity.CampoOcr" />
		<mapping class="net.wasys.getdoc.domain.entity.ModeloDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.FaceRecognition" />
		<mapping class="net.wasys.getdoc.domain.entity.ProximaSituacao" />
		<mapping class="net.wasys.getdoc.domain.entity.Subperfil" />
		<mapping class="net.wasys.getdoc.domain.entity.SubperfilSituacao" />
		<mapping class="net.wasys.getdoc.domain.entity.TextoPadrao" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoAjuda" />
		<mapping class="net.wasys.getdoc.domain.entity.BaseInterna" />
		<mapping class="net.wasys.getdoc.domain.entity.BaseRegistro" />
		<mapping class="net.wasys.getdoc.domain.entity.BaseRegistroValor" />
		<mapping class="net.wasys.getdoc.domain.entity.LogImportacao" />
		<mapping class="net.wasys.getdoc.domain.entity.LoginLog" />
		<mapping class="net.wasys.getdoc.domain.entity.Regra" />
		<mapping class="net.wasys.getdoc.domain.entity.RegraTipoProcesso" />
		<mapping class="net.wasys.getdoc.domain.entity.RegraLinha" />
		<mapping class="net.wasys.getdoc.domain.entity.SubRegra" />
		<mapping class="net.wasys.getdoc.domain.entity.DeparaParam" />
		<mapping class="net.wasys.getdoc.domain.entity.DeparaRetorno" />
		<mapping class="net.wasys.getdoc.domain.entity.ConsultaExterna" />
		<mapping class="net.wasys.getdoc.domain.entity.ConsultaExternaLog" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoRegra" />
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoRegraLog" />
		<mapping class="net.wasys.getdoc.domain.entity.FonteExterna" />
		<mapping class="net.wasys.getdoc.domain.entity.FuncaoJs" />
		<mapping class="net.wasys.getdoc.domain.entity.SessaoHttpRequest" />
		<mapping class="net.wasys.getdoc.domain.entity.BaseRelacionamento" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoCampoGrupoSituacao" />
		<mapping class="net.wasys.getdoc.domain.entity.FilaConfiguracao" />
		<mapping class="net.wasys.getdoc.domain.entity.UsuarioSubperfil" />
		<mapping class="net.wasys.getdoc.domain.entity.RelatorioGeralSituacao" />
        <mapping class="net.wasys.getdoc.domain.entity.TipoEvidenciaRole" />
        <mapping class="net.wasys.getdoc.domain.entity.RegraRole" />
		<mapping class="net.wasys.getdoc.domain.entity.SubRegraAcao" />
        <mapping class="net.wasys.getdoc.domain.entity.TextoPadraoTipoProcesso" />
        <mapping class="net.wasys.getdoc.domain.entity.Aluno" />
		<mapping class="net.wasys.getdoc.domain.entity.RelatorioTipificacao" />
		<mapping class="net.wasys.getdoc.domain.entity.UsuarioCampus" />
		<mapping class="net.wasys.getdoc.domain.entity.UsuarioRegional" />
		<mapping class="net.wasys.getdoc.domain.entity.Campanha" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoDocumentoModelo" />
		<mapping class="net.wasys.getdoc.domain.entity.SubperfilTipoDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.AdminAjuda" />
		<mapping class="net.wasys.getdoc.domain.entity.FeriadoParalizacao" />
		<mapping class="net.wasys.getdoc.domain.entity.FeriadoSituacao" />
		<mapping class="net.wasys.getdoc.domain.entity.Bacalhau" />
		<mapping class="net.wasys.getdoc.domain.entity.BacalhauEmail" />
		<mapping class="net.wasys.getdoc.domain.entity.BacalhauImagemPerdida" />
		<mapping class="net.wasys.getdoc.domain.entity.Etapa" />
		<mapping class="net.wasys.getdoc.domain.entity.RegraSubperfil" />
		<mapping class="net.wasys.getdoc.domain.entity.ConfiguracaoLoginAzure" />
		<mapping class="net.wasys.getdoc.domain.entity.SituacaoSubperfil" />
		<mapping class="net.wasys.getdoc.domain.entity.RelatorioGeralEtapa" />
		<mapping class="net.wasys.getdoc.domain.entity.IrregularidadeTipoDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.Calendario" />
		<mapping class="net.wasys.getdoc.domain.entity.CalendarioCriterio" />
		<mapping class="net.wasys.getdoc.domain.entity.ImagemMeta" />
		<mapping class="net.wasys.getdoc.domain.entity.SituacaoLock" />
		<mapping class="net.wasys.getdoc.domain.entity.CategoriaDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoDocumentoCategoria" />
		<mapping class="net.wasys.getdoc.domain.entity.StatusLaboral" />
		<mapping class="net.wasys.getdoc.domain.entity.LogAtendimento" />
		<mapping class="net.wasys.getdoc.domain.entity.ConfiguracaoGeracaoRelatorio" />
		<mapping class="net.wasys.getdoc.domain.entity.ExecucaoGeracaoRelatorio" />
		<mapping class="net.wasys.getdoc.domain.entity.CampoModeloOcr" />
		<mapping class="net.wasys.getdoc.domain.entity.GrupoModeloDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.CategoriaGrupoModeloDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.ConfiguracaoOCR" />
		<mapping class="net.wasys.getdoc.domain.entity.ConfiguracaoOCRInstituicao" />
		<mapping class="net.wasys.getdoc.domain.entity.TipoDocumentoGrupoModeloDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.ModeloDocumentoGrupoModeloDocumento" />
		<mapping class="net.wasys.getdoc.domain.entity.BacalhauReversoRelatorio" />
		<mapping class="net.wasys.getdoc.domain.entity.LogAnaliseIA"/>
		<mapping class="net.wasys.getdoc.domain.entity.CalendarioCriterioSituacao"/>
		<mapping class="net.wasys.getdoc.domain.entity.ProcessoNotificarAtila"/>

	</session-factory>
</hibernate-configuration>
